/* line 16, ../../resources/assets/main/sass/dashboard.scss */
html, body {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background: -webkit-linear-gradient(90deg, #fe8c00 10%, #f83600 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #fe8c00 10%, #f83600 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #fe8c00 10%, #f83600 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #fe8c00 10%, #f83600 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #fe8c00 10%, #f83600 90%);
  /* W3C */
  height: 100%;
  width: 100%;
  color: white;
  font-size: 16px;
}

/* line 31, ../../resources/assets/main/sass/dashboard.scss */
.well {
  margin-top: 20px;
  padding: 0px 20px 0px 0px !important;
}
/* line 35, ../../resources/assets/main/sass/dashboard.scss */
.well .col-md-3 {
  background-color: #607D8B;
  overflow: auto;
  color: white;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
/* line 41, ../../resources/assets/main/sass/dashboard.scss */
.well .col-md-3 ul {
  margin: 0px 0px 0px 0px;
}
/* line 45, ../../resources/assets/main/sass/dashboard.scss */
.well .col-md-3 li a {
  color: white;
}
/* line 18, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.well .col-md-3 li a:visited {
  color: white;
}
/* line 21, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.well .col-md-3 li a:focus {
  color: white;
}
/* line 24, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.well .col-md-3 li a:hover {
  color: black;
}
/* line 27, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.well .col-md-3 li a:active {
  color: white;
}
/* line 49, ../../resources/assets/main/sass/dashboard.scss */
.well .col-md-3 li a:hover {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
/* line 54, ../../resources/assets/main/sass/dashboard.scss */
.well .col-md-3 label {
  padding: 5px 5px 5px 5px;
  color: #03A9F4;
}
/* line 60, ../../resources/assets/main/sass/dashboard.scss */
.well .row [class*="col-"] {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}
/* line 65, ../../resources/assets/main/sass/dashboard.scss */
.well .row {
  overflow: hidden;
}

/* line 72, ../../resources/assets/main/sass/dashboard.scss */
.diaryList a {
  color: #263238;
}
/* line 18, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.diaryList a:visited {
  color: #263238;
}
/* line 21, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.diaryList a:focus {
  color: #263238;
}
/* line 24, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.diaryList a:hover {
  color: #263238;
}
/* line 27, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.diaryList a:active {
  color: #263238;
}
