/* line 16, ../../resources/assets/main/sass/dashboard.scss */
html, body {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background: url(/images/dashboard.jpg) no-repeat center center fixed;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 16px;
}

/* line 25, ../../resources/assets/main/sass/dashboard.scss */
.well {
  margin-top: 20px;
  padding: 0px 20px 0px 0px !important;
}
/* line 29, ../../resources/assets/main/sass/dashboard.scss */
.well .col-md-3 {
  background-color: #607D8B;
  overflow: auto;
  color: white;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
/* line 35, ../../resources/assets/main/sass/dashboard.scss */
.well .col-md-3 ul {
  margin: 0px 0px 0px 0px;
}
/* line 39, ../../resources/assets/main/sass/dashboard.scss */
.well .col-md-3 li a {
  color: white;
}
/* line 18, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.well .col-md-3 li a:visited {
  color: white;
}
/* line 21, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.well .col-md-3 li a:focus {
  color: white;
}
/* line 24, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.well .col-md-3 li a:hover {
  color: black;
}
/* line 27, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.well .col-md-3 li a:active {
  color: white;
}
/* line 43, ../../resources/assets/main/sass/dashboard.scss */
.well .col-md-3 li a:hover {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
/* line 48, ../../resources/assets/main/sass/dashboard.scss */
.well .col-md-3 label {
  padding: 5px 5px 5px 5px;
  color: #03A9F4;
}
/* line 54, ../../resources/assets/main/sass/dashboard.scss */
.well .row [class*="col-"] {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}
/* line 59, ../../resources/assets/main/sass/dashboard.scss */
.well .row {
  overflow: hidden;
}

/* line 66, ../../resources/assets/main/sass/dashboard.scss */
.diaryList a {
  color: #263238;
}
/* line 18, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.diaryList a:visited {
  color: #263238;
}
/* line 21, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.diaryList a:focus {
  color: #263238;
}
/* line 24, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.diaryList a:hover {
  color: #263238;
}
/* line 27, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.diaryList a:active {
  color: #263238;
}
